

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> It was done successfully</h2>
@*<div style="font-size:small">
<p>
    @Html.DisplayFor(model => model.Author) |
    @Html.DisplayFor(model => model.ArticleDateTime)
</p>
</div>
<br />
<h3> @Html.DisplayFor(model => model.ShortDesc)</h3>
<br />
<br />
@{ var str = new HtmlString(Model.Body.ToString());

       @Html.Raw(str)   
}
*@
